*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
#title {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 255px;
    color: white;
    background-color: black;
}
#grid {
    display: grid;
    grid-template-columns: repeat(10, 0fr);
    justify-content: center;
    height: 500px;
    width: 100%;
    position: relative;
    background-color: black;
}
.cell {
    background-color: white;
    height: 50px;
    width: 50px;
    border: .5px solid white;
}
.cell.lights-off {
    background-color: black;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: black;
}
#rules-container {
    color: black;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    font-size: 1.5rem;
}
.button {
    border-radius: 50px;
    background-color: white; 
    color: rgb(63, 61, 61);
    
    font-size: 18px;
    font-weight: bold;
    margin: 1rem;
    padding: .3em 1em;
    transition: .5s;
}
.button:hover{
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 6px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 6px 5px 15px 5px rgba(0,0,0,0);
}
#player {
    background-color: rgb(236, 141, 7);
}
.wall {
    background-color: black;
}
.exit {
    background-color: rgb(43, 167, 43);
}
.myModal {
   margin: auto;
   padding: 2rem;
    background-color: white;
}
:focus, :focus-visible {
    outline: none;
}
p {
    font-size: 2rem;
}


